<DIV align=center>
	<TABLE style="FONT-SIZE: 12px" cellSpacing=0 cellPadding=0 align=center border=0>
		<TBODY>
			<TR>
				<TD align=center><A
					href="http://eop.epson.co.kr/EpsonEOP_EventLink.asp?strBuyMall=3"
					target=_blank><IMG border=0
						src="http://atimage.wemakeprice.com/images/product/20151029/e7b15ec75c5643fe1eb4a185d920a0fe-20151029150331.jpg"></A></TD>
			</TR>
			<TR>
				<TD style="HEIGHT: 10px"></TD>
			</TR>
			<TR>
				<TD align=center><IMG border=0
					src="http://atimage.wemakeprice.com/images/product/20151029/e607049b9597db24452ac4c25cca5f0f-20151029150331.jpg"></TD>
			</TR>
			<TR>
				<TD style="HEIGHT: 30px"></TD>
			</TR>
		</TBODY>
	</TABLE>
</DIV>
<SCRIPT type=text/javascript src="http://eop.epson.co.kr/Hardware/Epson_Movie.js"></SCRIPT>
<DIV align=center>
	<TABLE cellSpacing=0 cellPadding=0 align=center border=0>
		<TBODY>
			<TR>
				<TD><IMG
					src="http://atimage.wemakeprice.com/images/product/20151029/bb5f8e6123499f99c72d541ee1096868-20151029150331.jpg"></TD>
			</TR>
			<TR>
				<TD><IMG
					src="http://atimage.wemakeprice.com/images/product/20151029/009dffa222576965754d03721c6013dd-20151029150331.jpg"></TD>
			</TR>
			<TR>
				<TD><IMG border=0
					src="http://atimage.wemakeprice.com/images/product/20151029/a218de19b90718c792be77361c1c98fd-20151029150331.jpg"
					useMap=#Map_EpsonWF7521></TD>
			</TR>
			<MAP name=Map_EpsonWF7521>
				<AREA href="http://www.epson.co.kr/EpsonMobile/" shape=rect
					target=_blank coords=253,647,477,665>
				<AREA
					href="http://itunes.apple.com/kr/app/ebsoningkeucajgi/id445700261?mt=8"
					shape=rect target=_blank coords=186,1001,635,1105>
			</MAP>
			<TR>
				<TD><IMG
					src="http://atimage.wemakeprice.com/images/product/20151029/cdf9bd930a54b3b64193002ce7865e72-20151029150331.jpg"></TD>
			</TR>
			<TR>
				<TD><IMG
					src="http://atimage.wemakeprice.com/images/product/20151029/8a893a452056a589f7cbd12930559de1-20151029150331.jpg"></TD>
			</TR>
			<TR>
				<TD align=center>
<!-- 				<SCRIPT type=text/javascript>Epson_ViewSWF("http://www.epson.co.kr/Img/Img_Product_NW/WF-7521.swf",650,487)</SCRIPT> -->
				</TD>
			</TR>
			<TR>
				<TD><IMG
					src="http://atimage.wemakeprice.com/images/product/20151029/5c0043759f177fef5939d78352b89303-20151029150331.jpg"></TD>
			</TR>
			<TR>
				<TD>
					<!----------------------------------- 제품스펙 ------------------------------------->
					<TABLE class=ProductContentBody cellSpacing=0 cellPadding=0
						width="100%" border=0>
						<TBODY>
							<TR>
								<TD style="PADDING-TOP: 3px; PADDING-LEFT: 5px" bgColor=#c3f1ee></TD>
							</TR>
							<TR>
								<TD>
									<TABLE class=ProductContentBody
										style="PADDING-TOP: 3px; PADDING-LEFT: 5px" cellSpacing=1
										cellPadding=0 width="100%" bgColor=#d5d5d5 border=0>
										<TBODY>
											<TR>
												<TD style="BACKGROUND-COLOR: #e4e4e4" colSpan=3><STRONG>프린터
														유형</STRONG></TD>
											</TR>
											<TR>
												<TD style="BACKGROUND-COLOR: #f4f4f4" width=120><STRONG>인쇄
														방식</STRONG></TD>
												<TD bgColor=#ffffff>On-demand ink jet (piezoelectric)</TD>
											</TR>
											<TR>
												<TD style="BACKGROUND-COLOR: #f4f4f4" width=120><STRONG>노즐
														구성</STRONG></TD>
												<TD bgColor=#ffffff>384 노즐 검정, 각 128 노즐 (청록, 진홍, 노랑)</TD>
											</TR>
										</TBODY>
									</TABLE>
								</TD>
							</TR>
							<TR>
								<TD>
									<TABLE class=ProductContentBody
										style="PADDING-TOP: 3px; PADDING-LEFT: 5px" cellSpacing=1
										cellPadding=0 width="100%" bgColor=#d5d5d5 border=0>
										<TBODY>
											<TR>
												<TD style="BACKGROUND-COLOR: #e4e4e4" colSpan=3><STRONG>인쇄
														기능</STRONG></TD>
											</TR>
											<TR>
												<TD style="BACKGROUND-COLOR: #f4f4f4" width=120><STRONG>최대
														해상도</STRONG></TD>
												<TD bgColor=#ffffff colSpan=2>5760 x 1440 dpi
													(Variable-Sized Droplet 기술 탑재)</TD>
											</TR>
											<TR>
												<TD style="BACKGROUND-COLOR: #f4f4f4" width=120><STRONG>최소
														잉크방울 크기</STRONG></TD>
												<TD bgColor=#ffffff colSpan=2>2 pl</TD>
											</TR>
											<TR>
												<TD style="BACKGROUND-COLOR: #f4f4f4" rowSpan=3 width=120><STRONG>인쇄
														속도</STRONG></TD>
												<TD bgColor=#ffffff height=22 width=135>흑백</TD>
												<TD bgColor=#ffffff>15 ipm (Default Mode)</TD>
											</TR>
											<TR>
												<TD bgColor=#ffffff height=22 width=135>컬러</TD>
												<TD bgColor=#ffffff>8 ipm (Default Mode)</TD>
											</TR>
											<TR>
												<TD bgColor=#ffffff height=22 width=135>사진 -
													10x15cm/4x6in *</TD>
												<TD bgColor=#ffffff>약 72 초 (여백 없음)</TD>
											</TR>
											<TR>
												<TD style="BACKGROUND-COLOR: #f4f4f4" rowSpan=3 width=120><STRONG>양면
														인쇄</STRONG></TD>
												<TD bgColor=#ffffff colSpan=2>자동 / 수동</TD>
											</TR>
										</TBODY>
									</TABLE>
								</TD>
							</TR>
							<TR>
								<TD>
									<TABLE class=ProductContentBody cellSpacing=1 cellPadding=0
										width="100%" bgColor=#d5d5d5 border=0>
										<TBODY>
											<TR>
												<TD style="BACKGROUND-COLOR: #e4e4e4" colSpan=3><STRONG>복사
														기능</STRONG></TD>
											</TR>
											<TR>
												<TD bgColor=#ffffff height=22 width=135><STRONG>복사
														속도</STRONG></TD>
												<TD bgColor=#ffffff align=left>검정 텍스트 메모 (A4) - 약 34
													cpm (Draft)<BR>컬러 텍스트 메모 (A4) - 약 34 cpm (Draft)
												</TD>
											</TR>
											<TR>
												<TD bgColor=#ffffff height=22 width=135>복사 모드</TD>
												<TD bgColor=#ffffff align=left>Standard 복사 모드/ 여백 없는 복사
													모드</TD>
											</TR>
										</TBODY>
									</TABLE>
								</TD>
							</TR>
							<TR>
								<TD>
									<TABLE class=ProductContentBody cellSpacing=1 cellPadding=0
										width="100%" bgColor=#d5d5d5 border=0>
										<TBODY>
											<TR>
												<TD style="BACKGROUND-COLOR: #e4e4e4" colSpan=3><STRONG>스캔
														기능</STRONG></TD>
											</TR>
											<TR>
												<TD style="BACKGROUND-COLOR: #f4f4f4" width=120><STRONG>스캔
														방식</STRONG></TD>
												<TD bgColor=#ffffff colSpan=2 align=left>평판형 컬러 이미지 스캐너</TD>
											</TR>
											<TR>
												<TD style="BACKGROUND-COLOR: #efefef"><STRONG>광전장치</STRONG></TD>
												<TD style="BACKGROUND-COLOR: #ffffff" colSpan=2 align=left>CIS</TD>
											</TR>
											<TR>
												<TD style="BACKGROUND-COLOR: #efefef"><STRONG>광학
														해상도</STRONG></TD>
												<TD style="BACKGROUND-COLOR: #ffffff" colSpan=2 align=left>1200
													dpi</TD>
											</TR>
											<TR>
												<TD style="BACKGROUND-COLOR: #f4f4f4" rowSpan=6 width=120><STRONG>스캔
														속도</STRONG></TD>
												<TD bgColor=#ffffff height=22 width=135>300 dpi (모노)</TD>
												<TD bgColor=#ffffff align=left>0.9 msec/line</TD>
											</TR>
											<TR>
												<TD bgColor=#ffffff height=22 width=135>300 dpi (컬러)</TD>
												<TD bgColor=#ffffff align=left>2.6 msec/line</TD>
											</TR>
											<TR>
												<TD bgColor=#ffffff height=22 width=135>600 dpi (모노)</TD>
												<TD bgColor=#ffffff align=left>1.5 msec/line</TD>
											</TR>
											<TR>
												<TD bgColor=#ffffff height=22 width=135>600 dpi (컬러)</TD>
												<TD bgColor=#ffffff align=left>5.2 msec/line</TD>
											</TR>
											<TR>
												<TD bgColor=#ffffff height=22 width=135>1200 dpi (모노)</TD>
												<TD bgColor=#ffffff align=left>3.0 msec/line</TD>
											</TR>
											<TR>
												<TD bgColor=#ffffff height=22 width=135>1200 dpi (컬러)</TD>
												<TD bgColor=#ffffff align=left>8.8 msec/line</TD>
											</TR>
										</TBODY>
									</TABLE>
								</TD>
							</TR>
							<TR>
								<TD>
									<TABLE class=ProductContentBody cellSpacing=1 cellPadding=0
										width="100%" bgColor=#e4e4e4 border=0>
										<TBODY>
											<TR>
												<TD style="BACKGROUND-COLOR: #e4e4e4" colSpan=3><STRONG>팩스
														기능</STRONG></TD>
											</TR>
											<TR>
												<TD style="BACKGROUND-COLOR: #efefef" width=120><STRONG>팩스
														유형</STRONG></TD>
												<TD style="BACKGROUND-COLOR: #ffffff" colSpan=2>흑백 및 컬러
													팩스</TD>
											</TR>
											<TR>
												<TD style="BACKGROUND-COLOR: #efefef" width=120><STRONG>팩스
														속도</STRONG></TD>
												<TD style="BACKGROUND-COLOR: #ffffff" colSpan=2>최대 33.6
													kbps</TD>
											</TR>
											<TR>
												<TD style="BACKGROUND-COLOR: #efefef" width=120><STRONG>단축
														다이얼</STRONG></TD>
												<TD style="BACKGROUND-COLOR: #ffffff" colSpan=2>60개의 단축
													다이얼 및 전화번호 메모리</TD>
											</TR>
											<TR>
												<TD style="BACKGROUND-COLOR: #efefef" width=120><STRONG>전송
														속도</STRONG></TD>
												<TD style="BACKGROUND-COLOR: #ffffff" colSpan=2>장당 약 3초</TD>
											</TR>
											<TR>
												<TD style="BACKGROUND-COLOR: #efefef" width=120><STRONG>페이지
														메모리</STRONG></TD>
												<TD style="BACKGROUND-COLOR: #ffffff" colSpan=2>최대 180매</TD>
											</TR>
										</TBODY>
									</TABLE>
								</TD>
							</TR>
							<TR>
								<TD>
									<TABLE class=ProductContentBody
										style="PADDING-TOP: 3px; PADDING-LEFT: 5px" cellSpacing=1
										cellPadding=0 width="100%" bgColor=#d5d5d5 border=0>
										<TBODY>
											<TR>
												<TD style="BACKGROUND-COLOR: #e4e4e4" colSpan=3><STRONG>ADF</STRONG></TD>
											</TR>
											<TR>
												<TD style="BACKGROUND-COLOR: #f4f4f4" width=120><STRONG>최대
														문서 크기</STRONG></TD>
												<TD bgColor=#ffffff>A3</TD>
											</TR>
										</TBODY>
									</TABLE>
								</TD>
							</TR>
							<TR>
								<TD>
									<TABLE class=ProductContentBody
										style="PADDING-TOP: 3px; PADDING-LEFT: 5px" cellSpacing=1
										cellPadding=0 width="100%" bgColor=#d5d5d5 border=0>
										<TBODY>
											<TR>
												<TD style="BACKGROUND-COLOR: #e4e4e4" colSpan=3><STRONG>인터페이스</STRONG></TD>
											</TR>
											<TR>
												<TD style="BACKGROUND-COLOR: #f4f4f4" width=120><STRONG>USB</STRONG></TD>
												<TD bgColor=#ffffff>Hi-Speed USB (USB 2.0 호환)</TD>
											</TR>
											<TR>
												<TD style="BACKGROUND-COLOR: #f4f4f4" width=120><STRONG>무선연결</STRONG></TD>
												<TD bgColor=#ffffff>IEEE 802.11b/g/n</TD>
											</TR>
											<TR>
												<TD style="BACKGROUND-COLOR: #f4f4f4" width=120><STRONG>이더넷</STRONG></TD>
												<TD bgColor=#ffffff>100BASE-TX/10BASE-T</TD>
											</TR>
										</TBODY>
									</TABLE>
								</TD>
							</TR>
							<TR>
								<TD>
									<TABLE class=ProductContentBody
										style="PADDING-TOP: 3px; PADDING-LEFT: 5px" cellSpacing=1
										cellPadding=0 width="100%" bgColor=#d5d5d5 border=0>
										<TBODY>
											<TR>
												<TD style="BACKGROUND-COLOR: #e4e4e4" colSpan=3><STRONG>전기사양</STRONG></TD>
											</TR>
											<TR>
												<TD style="BACKGROUND-COLOR: #f4f4f4" width=120><STRONG>정격
														전압</STRONG></TD>
												<TD bgColor=#ffffff colSpan=2>AC 220-240V</TD>
											</TR>
											<TR>
												<TD style="BACKGROUND-COLOR: #f4f4f4" width=120><STRONG>정격
														주파수</STRONG></TD>
												<TD bgColor=#ffffff colSpan=2>50~60 Hz</TD>
											</TR>
											<TR>
												<TD style="BACKGROUND-COLOR: #f4f4f4" rowSpan=3 width=120><STRONG>소비
														전력</STRONG></TD>
												<TD bgColor=#ffffff height=22 width=135>Ready Mode</TD>
												<TD bgColor=#ffffff>약 7.2W</TD>
											</TR>
											<TR>
												<TD bgColor=#ffffff height=22 width=135>Sleep Mode</TD>
												<TD bgColor=#ffffff>약 4.4W</TD>
											</TR>
											<TR>
												<TD bgColor=#ffffff height=22 width=135>Power Off Mode</TD>
												<TD bgColor=#ffffff>약 0.4W</TD>
											</TR>
											<TR>
												<TD style="BACKGROUND-COLOR: #f4f4f4" rowSpan=3 width=120><STRONG>에너지
														스타 인증</STRONG></TD>
												<TD bgColor=#ffffff colSpan=2>Yes</TD>
											</TR>
										</TBODY>
									</TABLE>
								</TD>
							</TR>
							<TR>
								<TD>
									<TABLE class=ProductContentBody
										style="PADDING-TOP: 3px; PADDING-LEFT: 5px" cellSpacing=1
										cellPadding=0 width="100%" bgColor=#d5d5d5 border=0>
										<TBODY>
											<TR>
												<TD style="BACKGROUND-COLOR: #e4e4e4" colSpan=3><STRONG>프린터
														소프트웨어</STRONG></TD>
											</TR>
											<TR>
												<TD style="BACKGROUND-COLOR: #f4f4f4" width=120><STRONG>운영체제</STRONG></TD>
												<TD bgColor=#ffffff>Windows XP/XP Professional x64
													Edition/Vista/7/Windows Server 2008 R2/2008/2003<BR>Mac
													OS X 10.4.11, 10.5.x, 10.6.x
												</TD>
											</TR>
											<TR>
												<TD style="BACKGROUND-COLOR: #f4f4f4" width=120><STRONG>온라인
														가이드</STRONG></TD>
												<TD bgColor=#ffffff>Yes</TD>
											</TR>
										</TBODY>
									</TABLE>
								</TD>
							</TR>
							<TR>
								<TD>
									<TABLE class=ProductContentBody
										style="PADDING-TOP: 3px; PADDING-LEFT: 5px" cellSpacing=1
										cellPadding=0 width="100%" bgColor=#d5d5d5 border=0>
										<TBODY>
											<TR>
												<TD style="BACKGROUND-COLOR: #e4e4e4" colSpan=3><STRONG>규격</STRONG></TD>
											</TR>
											<TR>
												<TD style="BACKGROUND-COLOR: #f4f4f4" rowSpan=2 width=120><STRONG>크기
														(WxDxH)</STRONG></TD>
												<TD bgColor=#ffffff height=22 width=135>Close(ASF/Stacker):</TD>
												<TD bgColor=#ffffff>559 x 418 x 365 mm</TD>
											</TR>
											<TR>
												<TD bgColor=#ffffff height=22 width=135>Open(ASF/Stacker):</TD>
												<TD bgColor=#ffffff>559 x 690 x 459 mm</TD>
											</TR>
											<TR>
												<TD style="BACKGROUND-COLOR: #f4f4f4" rowSpan=3 width=120><STRONG>무게</STRONG></TD>
												<TD bgColor=#ffffff colSpan=2>18.9 kg (잉크 카트리지, 전원 케이블
													제외)</TD>
											</TR>
										</TBODY>
									</TABLE>
								</TD>
							</TR>
							<TR>
								<TD></TD>
							</TR>
						</TBODY>
					</TABLE>
					<!----------------------------------/ 제품스펙 ------------------------------------->
				</TD>
			</TR>
		</TBODY>
	</TABLE>
</DIV>
<P align=center>
	<BR>&nbsp;
</P>
<DIV align=center>
	<TABLE style="FONT-SIZE: 12px" cellSpacing=1 cellPadding=3 width=800
		align=center bgColor=silver border=0>
		<TBODY>
			<TR>
				<TD style="COLOR: black" bgColor=#dbdbdb colSpan=2><B>Epson
						Workforce WF-7521 인증 정보</B></TD>
			</TR>
			<TR>
				<TD style="COLOR: black" bgColor=#f2f2f2 width=200 align=center>제조국가</TD>
				<TD style="COLOR: black" bgColor=white align=left>인도네시아</TD>
			</TR>
			<TR>
				<TD style="COLOR: black" bgColor=#f2f2f2 align=center>KCC ID</TD>
				<TD style="COLOR: black" bgColor=white align=left>KCC-CMI-EKL-BRTE-C441B
					(인증일 : 2011년 7월 6일)</TD>
			</TR>
		</TBODY>
	</TABLE>
</DIV>