<html lang="ko">
<head>
	<meta charset="UTF-8">
</head>	
<body>

${userId}, ${forgotMessage} : 

<p/>

<a href="http://www.linkednest.net/user/resetPassword?v=${encryptedMail}">http://www.linkednest.net/user/resetPassword?v=${encryptedMail}</a><p/>

Thanks.<br/>

</body>
</html>