<html lang="ko">
<head>
	<meta charset="UTF-8">
</head>	
<body>

${mailTo}님.

<p/>

${welcomeMessage}<p/>

<br/>

Url : <a href="http://www.linkednest.net/share/${userId}" target="_blank">http://www.linkednest.net/share/${userId}</a>

Thanks<br/>

<p>Share your story, Share your knowledge through <a href="http://www.linkednest.net" target="_blank">linkednest.net</a></p>
</body>
</html>